/* (edit style.css for your own book styles) */



.join {
  height: 150px;
  width: 200px;
  float: right;
  clear: right;
}

.join img {
  width: 100%;
}

.incomplete-chapter {
  padding: 1em;
  background-color: #517AA8;
  text-align: center;
}

.incomplete-chapter::before {
  content: "This chapter is in draft form and will be revised soon.";
}

.webex-radiogroup label pre {
  margin: 0;
  border: 0;
  padding: 0;
  text-indent: 0;
  display: inline-block;
  background-color: transparent;
  background-image: none;
}

/* memes */

img { max-width: 100%; }

.meme img {
  width: 100%;
}
.meme {
  display: inline-block;
  max-width: 40% !important;
  margin: 0.5em;
}

.right {
  float: right;
  margin-right: 0;
}

.left {
  float: left;
  margin-left: 0;
}

@media screen and (max-width: 600px) {
  .meme {
    display: block;
    max-width: 100% !important;
    margin: 0.5em 0;
  }
  
  .right, .left {
    float: none;
    margin: 0.5em 0;
  }
}

pre.mcq {
  padding: 0 !important;
  margin: 0 !important;
  background-color: none;
  display: inline;
  border: none !important;
  border-radius: none;
}

a.video { 
  text-indent: -9999px;
  content: url("../images/icons/video.svg");
  margin: 0 3px 0 5px;
  width: 20px;
  height: 20px;
}


.inline-figure { border: none; }

